<link rel="stylesheet" href="/node_modules/reveal.js/dist/reveal.css">
<link rel="stylesheet" href="/node_modules/reveal.js/dist/theme/black.css">

<div class="reveal">
    <div class="slides">
        <section data-markdown data-separator="---">
            <script type="text/template">
            ## Pitchbox 
            ---
            <% startups.forEach(function(startup) { %>
            ## <%= startup.attributes.name %>
            <%= startup.attributes.pitch %>
            ---
            <% }) %>
            ## C'est fini ^^
            </script>
        </section>
    </div>
</div>

<script src="/node_modules/reveal.js/dist/reveal.js"></script>
<script src="/node_modules/reveal.js/plugin/markdown/markdown.js"></script>
<script>
  Reveal.initialize({     
      plugins: [ RevealMarkdown ],
      transition: 'none' 
  });
</script>